.layout {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: calc(100vh - 5.5rem - 11rem);
}

.viewImages {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 3rem;
  .planetImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .geologyImage {
    position: absolute;
    bottom: 1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .viewImages {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .viewImages {
    min-height: 40vh;
  }
}
