.container {
  width: 100%;
  min-height: 11rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.facts {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.fact {
  width: 20%;
  border: 1px solid var(--darkGrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.8rem;
}

@media only screen and (max-width: 1200px) {
  .facts {
    width: 100%;
    .fact {
      width: 23%;
    }
  }
}

@media only screen and (max-width: 850px) {
  .facts {
    flex-direction: column;
    align-items: center;
  }
  .fact {
    width: 95%;
    margin-top: 0.3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
  }
}
