.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    width: 70%;
    margin-top: 2rem;
    font-size: 5rem;
  }
  .content {
    margin-top: 0.8rem;
    width: 70%;
    min-height: 9rem;
    line-height: 1.5625rem;
    font-size: 0.875rem;
  }
  .source {
    margin-top: 0.4rem;
    width: 60%;
    color: var(--darkGrey);
    a {
      color: var(--lightGrey);
      font-weight: bold;
      margin-left: 0.2rem;
      margin-right: 0.3rem;
    }
    svg path {
      fill: var(--lightGrey);
    }
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    .info {
      width: 60%;
      h1 {
        font-size: 3.5rem;
      }
      .content {
        width: 90%;
      }
    }
    .buttons {
      width: 40%;
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 760px) {
  .container {
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      h1,
      .source {
        text-align: center;
      }
      .content {
        text-align: center;
        min-height: 0;
        width: 100%;
      }
    }
    .buttons {
      display: none;
    }
  }
}
